body {
  background-color: white;
}
h1 {
  font-size: 80px;
  color: black;
  margin: 20px auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 10px;
  text-decoration: underline;
}
.open-button {
  background-color: grey;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  position: fixed;
  top: 40px;
  right: 28px;
  font-size: 30px;
  border-radius: 3px;
}

.form-popup {
  background-color: #555;
  display: none;
  position: fixed;
  right: 300px;
  top: 2%;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
  z-index: 9;
}
#TitleP {
  color: white;
}
#DescriptionP {
  color: white;
}
#title {
  text-align: inherit;
  position: relative;
  left: 45px;
  bottom: 3px;
  background-color: lightgrey;
}
#desc {
  text-align: inherit;
  position: relative;
  left: 0px;
  bottom: 1px;
  background-color: lightgrey;
}

ul {
  list-style-type: none;
  font-size: 20px;
  font-style: normal;
  font-family: sans-serif;
  padding-right: 20px;
  padding-bottom: 3px;
}

#ul {
  border: 1px solid black;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: 0px;
  border-radius: 10px;

}
#ul li {

  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding bottom: 5px;
  margin-top: 5px;

}
#ul li:after{
  content: ",";
}
#li1{
  margin-top: 5px;
}
.button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: black;
  background-color: lightgrey;
  margin-top: 5px;
  border-radius: 3px;
}
